<form action="/favourites" method="POST">
  <button type="submit" class="bg-gradient-to-r from-green-400 to-green-600 text-white font-semibold p-2 rounded-xl hover:bg-gradient-to-r from-green-500 to-green-700 transition">Add to Favourite</button>
  <input type="hidden" name="id" value="<%= home._id %>">
</form>
